{% extends 'base.html.twig' %}
{% block pageheader %}Détails chantier{% endblock %}
{% block body %}

    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Code chantier</th>
                <td>{{ chantier.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ chantier.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ chantier.description }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{% if chantier.debut %}{{ chantier.debut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{% if chantier.fin %}{{ chantier.fin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ chantier.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Debut</th>
                <th>Fin</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td><a href="{{ path('tache_show', { 'id': tache.id }) }}">{{ tache.titre }}</a></td>
                <td>{{ tache.description }}</td>
                <td>{% if tache.debut %}{{ tache.debut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if tache.fin %}{{ tache.fin|date('Y-m-d') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>      
                    
    <div>
        
        <a href="{{ path('tache_new') }}"class="btn btn-primary btn-lg pull-right">Ajouter une tâche</a>
        
    </div>

{% endblock %}
