{% extends 'base.html.twig' %}
{% block pageheader %}Liste des taches{% endblock %}
{% block body %}

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td><a href="{{ path('tache_show', { 'id': tache.id }) }}">{{ tache.titre }}</a></td>
                <td>{{ tache.description }}</td>
                <td>{% if tache.debut %}{{ tache.debut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if tache.fin %}{{ tache.fin|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tache_show', { 'id': tache.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tache_edit', { 'id': tache.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tache_new') }}">Créer une nouvelle tache</a>
        </li>
    </ul>
{% endblock %}
