{% extends 'base.html.twig' %}
{% block pageheader %}Recherche d'artisans{% endblock %}
{% block body %}

    <form method="post">

        <table class="table table-striped table-bordered table-hover">
            <tbody>
                <tr>
                    <th>Choisissez une compétence dans la liste suivante :</th>
                </tr>
            <td>
                <select class="form-control" id="demo" multiple="multiple" name="comp[]">
                    {% for comp in competences %}
                        <option value="{{comp.id}}"> {{comp.nom}} </option>
                    {% endfor %}
                </select>
            </td>
            <tr>
                <th>Entrez votre code postal :</th>
            </tr>
            <td>
                <select class="form-control" id="demo2" multiple="multiple" name="code[]">
                    {% for code in codes %}
                        <option value="{{code.id}}"> {{code.code}} - {{code.departement}} </option>
                    {% endfor %}
                </select>
            </td>
            </tbody>
        </table>

        <ul>
            <input type="submit" value="Recherche" class="btn btn-primary">
        </ul>

    </form>
    {% if tableau is defined %}
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                {% for tab in tableau %}
                    <tr>
                        <td><a href="{{ path('utilisateur_show', { 'id': tab.id }) }}">{{ tab.prenom }}</a></td>
                        <td>{{ tab.nom }}</td>
                        <td>{{ tab.photoUrl }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#demo').multiselect({
                includeSelectAllOption: true,
                maxHeight: 200
            });
            $('#demo2').multiselect({
                includeSelectAllOption: true,
                maxHeight: 200
            });
        });
    </script>
{% endblock %}
