{% extends 'base.html.twig' %}
{% block pageheader %}Détails utilisateur{% endblock %}
{% block body %}

    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ utilisateur.adresse }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ utilisateur.mail }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ utilisateur.tel }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>
                    <img src="{{ asset(utilisateur.photourl) }}">
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <div>
            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}"class="btn btn-default btn-xs">Modifier</a>
        </div>
        <div>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-default btn-xs">
            {{ form_end(delete_form) }}
        </div>

        <div>
            <a href="{{ path('chantier_maliste', { 'id': utilisateur.id }) }}"class="btn btn-default btn-xs">Mes chantiers</a>
        </div>

    </div>
{% endblock %}
